<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Dotan - Admin &amp; Dashboard Template</title>

    <!-- Favicon -->
    <link rel="icon" href="../static/img/favicon.png">

    <!-- Master Stylesheet [If you remove this CSS file, your file will be broken undoubtedly.] -->
    <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- ======================================
    ******* Page Wrapper Area Start **********
    ======================================= -->
    <div class="main-content- forget-password-area h-100vh">
        <div class="animation-bg bg-img light-color-overlay-2"> </div>
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-md-7 col-lg-5 mx-auto">
                    <!-- Middle Box -->
                    <div class="middle-box">
                        <h4 class="text-white">Reset Your Password</h4>
                        <p class="text-white">Enter your email address and your password will be reset and emailed to you.</p>
                        <!-- Form -->
                        <form class="m-t" action="#">
                            <div class="form-group">
                                <input class="form-control password" id="email" placeholder="Register Email address" required="">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control password" id="username" placeholder="Username" required="">
                            </div>
                            <div class="form-group">
                                <input class="form-control password" id="receive_email" placeholder="Receive Email address" required="">
                            </div>
                            <div class="btn-area">
                                <a href="javascript:void(0);" id="submit" class="btn btn-rounded btn-outline-primary py-2 px-4 btn-block mt-15 text-white">Send new password</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ======================================
    ********* Page Wrapper Area End ***********
    ======================================= -->

    <!-- Must needed plugins to the run this Template -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/bundle.js"></script>
    <script src="../static/js/swartalart.js"></script>

    <!-- Active JS -->
    <script src="../static/js/default-assets/active.js"></script>

    <script src="../static/js/forgetpassword.js"></script>

</body>

</html>