<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Dotan - Admin &amp; Dashboard Template</title>

    <!-- Master Stylesheet [If you remove this CSS file, your file will be broken undoubtedly.] -->
    <link rel="stylesheet" href="../static/css/style.css">

</head>

<body class="lock-screen-area">
  <!-- Preloader -->
    <div id="preloader">
        <div class="lds-hourglass"></div>
    </div>

    <!-- ======================================
    ******* Main Wrapper Area Start **********
    ======================================= -->
    <div class="main-content- bg-img h-100vh" style="background-image: url(../static/img/bg-1.jpg)">
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-md-7 col-lg-5 mx-auto">
                    <!-- Middle Box -->
                    <div class="middle-box my-5">
                        <div class="card">
                            <div class="card-body p-4">
                                <div>
                                    <h4 class="font-22 mt-0">Free Sign Up</h4>
                                    <p class="text-muted mb-4">Create a new account</p>
                                </div>


                                    <div class="form-group">
                                        <label for="username">Username</label>
                                        <input class="form-control" type="text" id="username" placeholder="Enter your name" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="emailaddress">Email address</label>
                                        <input class="form-control" type="email" id="emailaddress" placeholder="Enter your email">
                                    </div>

                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input class="form-control" type="password"  id="password" placeholder="Enter your password">
                                    </div>

                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="checkbox-signup">
                                            <label class="custom-control-label" for="checkbox-signup">I accept <a href="#" class="text-muted">Terms and Conditions</a></label>
                                        </div>
                                    </div>

                                    <div class="mb-3 text-center">
                                        <button class="btn btn-primary btn-block sign_button"> Sign Up </button>
                                    </div>

                                    <div class="form-group mb-0 text-center">
                                        <a class="btn btn-secondary btn-block" href="{{ url_for('login') }}"> Sign In </a>
                                    </div>

                            </div> <!-- end card-body -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ======================================
    ********* Page Wrapper Area End ***********
    ======================================= -->

    <!-- Must needed plugins to the run this template -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/bundle.js"></script>
    <script src="../static/js/swartalart.js"></script>

    <!-- Active JS -->
    <script src="../static/js/default-assets/active.js"></script>

    <!-- own javascript -->
    <script src="../static/js/register.js"></script>

</body>

</html>